.row{
  display: flex;
  width: 300px;
  height: 55px;
  border-radius: 7px;
}
.row:hover{
    background-color: #DCDCDC;
}

.col-1{
 padding: 5px 0 0 10px;
}
.col-1 .MuiSvgIcon-root{
  width: 35px !important;
  height: 35px !important;
}
.col-1 .MuiAvatar-root{
  width: 35px !important;
  height: 35px !important;
}
.col-2{
  padding: 10px 0 0 10px;
  font-weight: 500;
}
