.props_left .MuiSvgIcon-root{
  width: 35px;
  height: 35px;
  color:#1877f2;
}

.props_left {
  margin: 10px;
  padding: 7px;
  cursor: pointer !important;
}

.props_left .name_prop{
  align-self: center;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
