* {
  margin: 0;
  padding: 0;
}

.navbar_main {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.leftbar_main {
  position: fixed;
  left: 15px;
  top: 85px;
}

.rightbar_main {
  position: fixed;
  right: 0;
  top: 85px;
}

.body_main{
  position: absolute;
  left: 410px;
  right: 453px;
  top: 85px;
}
