.navbar_main{
  padding: 0.5rem 1rem 0rem !important;
  color: white !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


/* -------------nav_left----------------- */
.search_bar{
  background-color: #eee;
  padding: 5px 5px 5px 20px;
  border-radius: 30px;
}
.search_bar input{
  border: none!important;
  background-color: #eee;
  width: 11vw;
  margin-left: 7px;
  outline: none;
}
.search_bar .MuiSvgIcon-root{

}

/* -------------nav_center-------------- */
.nav_center .icon{
  margin: auto 2.5vw;
  display: flex;
}
.nav_center .nav-link:hover{
  background-color: rgba(212,218,229,0.4);
  border-radius: 7px;
}
.nav_center .icon .MuiSvgIcon-root{
  font-size: 2rem;
}

.nav_center .active_block{
    color: #1877f2!important;
    border-bottom: .8mm solid #1877f2;
    border-radius: 0!important;

}
.nav_center .active_block:hover{
  background-color: white !important;
}
.nav_center h6{
  display: none;
}

/* --------------nav_right------------- */
.nav_right .icon{
  margin: auto;
  background-color: rgba(212,218,229,0.7) !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  color: rgba(0,0,0,0.8);
}
.nav_right .icon:hover{
  background-color: rgba(206, 215, 233, 1)!important;
    color: rgba(0,0,0,1);
}
.nav_right .icon .MuiSvgIcon-root{
  align-self: center !important;
  font-size: 1.4rem;
}
.nav_right .user_info .MuiAvatar-root {
  width: 30px;
  height: 30px;
}
.nav_right .user_info p{
  margin-bottom: 0 !important;
  justify-content: center;
  align-self: center;
}

/* ----------------data-title------------ */
[data-title] {
  position: relative;
  cursor: pointer;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -40px;
  display: inline-block;
  padding: 8px;
  border-radius: 7px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
  opacity: 0.8;
  z-index: 100;
}

/* -----------------------------mobile view-------------- */

@media (max-width:1000px) {
  .navbar_main{
    padding: 0.5rem 1rem 0.5rem !important;
  }
  .nav_left{
    display: none !important;
  }
  .nav_right{
    display: none !important;
  }
  .nav_center .active_block{
      color: #1877f2!important;
      border: none !important;

  }
  .nav_center .active_block:hover{
    background-color: white !important;
  }
  .nav_center h6{
    display: inline;
    padding: 5px;
    margin-left: 20px;
  }
}
