*{
  margin: 0;
  padding: 0;
}

.navbar{
  justify-content: space-between;
  display: flex;
  margin: 20 15px 0;
  padding: 20px 20px 0 20px;
  box-shadow:2px 2px 7px rgba(128,128,128,0.3);
}

.left_nav{
display: flex;
justify-content: center;
}

.left_nav img{
  height: 35px;
}
.search{
  justify-content: center;
  background-color: #eeeeee;
  border-radius: 20px;
  margin: 0 0 10px 10px;
}
.search .MuiSvgIcon-root{
  position: relative;
  top: 7px;
  left: 20px;

}
.search input{
  outline: none !important;
  font-size: 1rem;
  background-color: #eeeeee;
  border: none;
  margin: 10px 0 0 30px;
}
.centre_nav{
  display: flex;
  justify-content:space-between;
  margin: 0 0 0 0;
}
.centre_nav .MuiSvgIcon-root{
  width: 80px;
  height: 30px;
  cursor: pointer;
}
.centre_nav .icon{
  margin: 0 25px 0;
}
.right_nav{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.right_nav .icon{
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #eeeeee;
  margin: 0 7px 0;
}

.active_block{
  color: blue;
  border-bottom: 1mm solid blue;
  padding-bottom: 15px;
}
