.posts{
  border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 5px 7px -7px rgba(0,0,0,.75);
}

.display_info h6{
  font-weight: 700;
  cursor: pointer;
}
.display_info p{
  font-size: 13px !important;
  color: grey;

}

.top_post .more{
  cursor: pointer;
}

.share_post .col-4{
  cursor: pointer;
}
.posts p{
  text-align: justify;
  font-size: 15px!important;
}
.content_post .user_img{
  border-top: 1px solid #d3d3d3;
}
.content_post{
  border-bottom: 1px solid #d3d3d3;
}
@media (max-width:600px) {
  .top_post .post_time{
    font-size: 10px !important;
  }

}



















.likeemoji {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}
.likeemoji > p {
  margin-left: 10px;
}
.likeemoji:hover {
  background-color: #eff2f5;
  border-radius: 7px;
  display: flex;
}
.facebookemojiset {
  background-color: sandybrown;
}
.emoji_like:hover {
  transform: scale(1.07);
}
